* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.container {
  border: 1px solid #000;
  width: 360px;  /* 고정된 모바일 너비 */
  height: 640px; /* 고정된 모바일 높이 */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 컨테이너 상단에 내용 배치 */
  padding: 20px;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: left; /* 왼쪽 정렬 */
}

input[type="email"] {
  width: calc(100% - 40px); /* 패딩을 감안한 너비 */
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* 아래쪽으로 가능한 많이 밀기 */
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

button span {
  font-size: 1.5em;
}

.back {
  background-color: #f0f0f0;
}

.next {
  background-color: #000;
  color: #fff;
}
